.container {
	display: flex;
	background-image: linear-gradient(rgb(0, 150, 80),rgb(85, 85, 212));
}

div .box2{
	width: 100%;
	height: auto;
}
.img{
	max-width: 100%;
	height: auto;
}


/*


 #box-container {
    display: flex;
    height: auto;
  }
  #box-1 {
    background-color: dodgerblue;

    height: 200px;
  }

  #box-2 {
    background-color: orangered;
    height: 200px;
  } */
h1 {
	text-align: center;
}
.caption1{
	text-align: left;
	align-self: flex-end;
	width: 100%;
	height: auto;
}
.box2 {
	display: flex;
	width: 100%;
	height: auto;
}






.green {
text-align: right;
max-width: 100%;
}

.beach {
float: left;
border: 1px;
padding: 3px;
}

.button {
	padding: 5px;
}

.container.vid{
	background: inherit;
}
footer{
	text-align: center;
	vertical-align: center;
	background-color: gray;
	color: white;
	padding-top: 1%;
	padding-bottom: 1%;
}
/*.new{ }*/
